{{ define "main" }}
<main class="container mx-auto p-6 text-primary">
  <article class="prose">
    <header>
      <h1>{{ .Title }}</h1>
    </header>
    <!-- "{{ .Content }}" pulls from the Markdown content of the corresponding _index.md -->
    {{ .Content }}
  </article>
  <!-- Ranges through content/posts/*.md -->
  {{ range .Pages }}
  <div
    class="card card-side bg-base-300 shadow-xl shadow-violet-400/40 my-4 opacity-90"
  >
    {{ if .Params.image }} {{with resources.GetMatch .Params.image }}
    <figure class="m-4 w-1/3 sm:w-1/6">
      <img src="{{ .RelPermalink }}" alt="{{ .Title }}" />
    </figure>
    {{ end }} {{ end }}

    <div class="card-body">
      <h2 class="card-title">{{ .LinkTitle }}</h2>
      <p>{{ .Summary }}</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">More Info</button>
      </div>
    </div>
  </div>
  {{ end }}
</main>
{{ end }}
