<div class="hero min-h-screen">
  <div class="hero-content flex-col lg:flex-row">
    {{ with resources.GetMatch "img/m_series.png" }}
    <img
      src="{{ .RelPermalink }}"
      class="max-w-sm sm:max-w-3xl bg-transparent rounded-lg"
      height="{{.Height}}"
      width="{{.Width}}"
    />
    {{ end }}
    <div>
      <h1 class="text-5xl font-bold">Enter the Multiverse Series</h1>
      <p class="py-6">Readers are saying...</p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
